<button type="button" class="collapsible"><b>Warnings by File</b></button>
<div class="content">

{% for file in fp.getUniqueFiles() %}

<button type="button" class="collapsible">{{file}} <b>({{len(fp.getWarningsByFilename(file))}})</b></button>
<div class="content">
<table>
<tr><th>File</th> <th>Warning</th> <th>Line</th> <th>Col</th> <th>Message</th> <th>Line of Code</th></tr>

{% for w in fp.getWarningsByFilename(file) %}
<tr>
    <td><a href="{{args.urlbase}}/{{args.gitsha}}/{{getpathfrom(w.fullpath, args.urlrelativeto)}}#L{{w.linenumber}}">{{w.fullpath.name}}</a></td>
    <td>{{w.warningid}}</td>
    <td>{{w.linenumber}}</td>
    <td>{{w.colnumber}}</td>
    <td>{{w.warningmessage}}</td>
    <td>{{htmlescape(w.warningline)}}</td>
</tr>
{% endfor %}

</table>
</div>

{% endfor %}

</div>
